* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
}

body{
    background-image: url("images/Space.webp");
}

.container {
    margin: 0px auto;
    background-color: black;
    width: 1200px;
    height: auto;
    box-shadow: 0px 0px 100px white;
}

.title {
    margin: 0px auto;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title img {
    height: 200px;
}

.navbar {
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 10px white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul {
    width: 100%;
    list-style-type: none;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar a {
    color: goldenrod;
}

.navbar a:link { 
    text-decoration: none; 
}

.navbar a:visited { 
    text-decoration: none; 
}

.navbar a:hover { 
    text-decoration: none; 
    color: white;
}

.navbar a:active { 
    text-decoration: none; 
    opacity: 65%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    box-shadow: 0px 0px 20px white;
    color: goldenrod;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    width: 80px;
}

#myBtn:hover {
    background-color: white;
}

/* Home Page */

.htitle {
    margin: 0px auto;
    height: 70px;
    width: 1150px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: white;
    box-shadow: 0px 0px 70px blue;
}

.htitle h1 {
    color: black;
    font-size: 55px;
}

.feature {
    width: 100%;
    height: 570px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.feature #left {
    width: 30px;
    height: 80px;
    transform: scaleX(-1);
    cursor: pointer;
}

#left:hover {
    color: white;
}

.float{
    height: 570px;
    width: 80%;
    background-image: url(images/feature1.jpg);
    background-size: cover;
}

.feature #right {
    width: 30px;
    height: 80px;
    cursor: pointer;
}

.bars {
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#bar1 {
    background-color: white;
    height: 15px;
    width: 70px;
    border-radius: 10px;
    border: none;
    cursor:pointer
}

button:active {
    opacity: 75%;
}

#bar2, #bar3, #bar4 {
    height: 15px;
    width: 70px;
    background-color: goldenrod;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.desc {
    margin: 30px;
}

.desc h1 {
    margin-bottom: 25px;
    text-align: center;
}

.cookie {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 300px;
    background-color: black;
    box-shadow: 0px 0px 350px red;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -725px;
    border-radius: 200px;
}

.cookie .left {
    margin-left: 70px;
}

.cookie .left h1 {
    color: white;
    margin-bottom: 30px;
    font-size: 60px;
}

.cookie .left h2 {
    color: white;
    font-size: 35px;
}

.cookie .right button {
    width: 230px;
    height: 75px;
    background-color: black;
    border: 3px solid white;
    border-radius: 35px;
    font-size: 40px;
    cursor: pointer;
}

.right button:active {
    opacity: 65%;
}

/* Movies Page */

.mtitle {
    margin: 0px auto;
    height: 70px;
    width: 1150px;
    border-radius: 35px;
    text-align: center;
    margin-top: 40px;
    background-color: white;
    box-shadow: 0px 0px 70px purple;
}

.mtitle h1,h2 {
    color: black;
}

.movie {
    margin-top: 80px;
}

.saber {
    margin: 0px auto;
    height: 50px;
    width: 1000px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: black;
    box-shadow: 0px 0px 25px white;
}

.saber h1 {
    color: white;
    
}

.media {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.media iframe {
    margin: 0px;
    padding: 0px;
}

.movie h1,#year{
    color: white;
    text-align: center;
}

.link {
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link a {
    color: goldenrod;
}

.link a:link { 
    text-decoration: none; 
}

.link a:visited { 
    text-decoration: none; 
}

.link a:hover { 
    text-decoration: none; 
    color: white;
}

.link a:active { 
    text-decoration: none; 
    opacity: 65%;
}

.movie h2, h4 {
    color: white;
    text-align: left;
    margin: 30px;
}

/* Contact Page */

.ctitle {
    margin: 0px auto;
    height: 70px;
    width: 1150px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: white;
    box-shadow: 0px 0px 70px red;
}

.ctitle h1{
    color: black;
    font-size: 55px;
}

#contact {
    margin-top: 100px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 20px yellow;
}

#contact h2 {
    font-size: 50px;
    margin-left: 50px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

#form h3, label, #submit {
    color: goldenrod;
}

#form h3 {
    margin-left: 25px;
    margin-top: 25px;
}

#fname, #lname, #email, #bday, #text, #comment, #submit {
    margin: 25px;
    font-size: 30px;
}

#firstname {
    height: 35px;
    font-size: 25px;
    text-align: center;
    width: 250px;
    color: black;
    border-radius: 17px;
    border: none;
    margin: 25px;
} 

#lastname {
    height: 35px;
    font-size: 25px;
    text-align: center;
    width: 250px;
    color: black;
    border-radius: 17px;
    border: none;
    margin: 25px;
}

#myemail {
    height: 35px;
    font-size: 20px;
    text-align: center;
    width: 400px;
    color: black;
    border-radius: 17px;
    border: none;
    margin: 25px;
}

#mybday {
    height: 35px;
    font-size: 25px;
    text-align: center;
    width: 250px;
    color: black;
    border-radius: 17px;
    border: none;
    margin: 25px;
}

#mytext {
    height: 35px;
    font-size: 25px;
    text-align: center;
    width: 250px;
    color: black;
    border-radius: 17px;
    border: none;
    margin: 25px;
}

#mycomment {
    text-align: center;
    width: 350px;
    color: black;
    border-radius: 17px;
    border: none;
    margin: 25px;
    padding: 10px;
}

#submit {
    background-color: black;
    border: 1px solid white;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

#submit:active {
    opacity: 65%;
}

.shadow {
    box-shadow: 0px 0px 20px white;
}